[mysqld]
# Configuración general
user = mysql
datadir = /var/lib/mysql
bind-address = 0.0.0.0

# Configuración de Galera
wsrep_on = ON
wsrep_provider = /usr/lib/galera/libgalera_smm.so
wsrep_cluster_name = "laravel_cluster"
wsrep_sst_method = rsync

# Replication settings
binlog_format = ROW
default_storage_engine = InnoDB
innodb_autoinc_lock_mode = 2

# SST authentication
wsrep_sst_auth = "root:root_password"
